.alert{
    display: block;
    background-color: gray;
    width: max-content;
    padding: 0.2rem 1rem;
    margin: 0 auto 1rem;
    text-transform: capitalize;
}
.alert.success{
    background-color: green;
    color: white;
}
.alert.danger{
    background-color: red;
    color: white;
}