*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
body{
  position: relative;
}
.container{
  display: grid;
  place-items: center;
}
.title{
  text-transform: capitalize;
  background: linear-gradient(purple 20%, lightseagreen);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}
.form{
  width: 70vw;
  box-shadow: 0px 2px 5px 1px grey;
  padding: 3rem;
}
.input{
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: lightgray;
  width: 70%;
  padding: 3px 3px 3px 10px;
  text-align: left;
}
button{
  padding: 3px 10px;
  border: none;
  color: whitesmoke;
  cursor: pointer;
}
.submit{
border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: lightseagreen;
  text-transform: capitalize;
}
